%ul#menu
	/ %li= link_to "blog", "#"
	/ %li= link_to "services", "#"
	/ %li= link_to "download", "#"
	/ %li= link_to "references", "#"
	%li= mail_to "kamil@kamilkowalski.pl", "contact", :encode => "javascript"
