#greeting
	%p
		Hi, I'm Kamil Kowalski - a Polish 
		%strong Ruby on Rails 
		developer.
	%p
		I create simple
		%strong web applications 
		and modify existing projects.
		%br
		I can also help you out with your 
		%strong Joomla! 
		and 
		%strong WordPress 
		website.
