#greeting
	=t ".hello_html"
	=t ".hello2_html"

#social
	.container
		=t ".social_html", :github => link_to("GitHub", "https://github.com/kamilkowalski", :id => "github", :target => "_blank"), :elance => link_to("Elance", "https://www.elance.com/s/kam_kowalski", :id => "elance", :target => "_blank")
