$blueprint_grid_columns: 8;
$blueprint_grid_width: 120px;

$bg_light: #FFF;
$bg_darker: #EEE;
$bg_darkest: #222;
$bg_lightblue: #019ac5;

@import "blueprint";

body, html { background-color: $bg_darkest; }

.container { @include container; }

#header, #content, #footer {
	background-color: $bg_light;
	padding-top: 1px;
}

#header { padding-top: 20px; }

#logo {
	@include float-left;

	span {
		display: block;
		margin-top: -8px;
	}
}

#social {
	background-color: $bg_lightblue;
	padding: 20px 0;
	text-align: center;
}

#footer { 
	background-color: $bg_darkest;
	padding: 16px 0;
}

#menu {
	@include inline-block-list;
	@include float-right;
	margin-top: 15px;

	li {
		padding: 0 10px;
	}
}

#greeting {
	text-align: center;
	margin: 80px auto 40px;
}

#github, #elance {
	@include kk-button-cta;
	margin: 0 6px;
}
