$color_regular: #222;
$color_light: #666;
$color_emphasis: #0194be;


html * {
	font-family: "Open Sans";
	color: $color_regular;
}

a, a:visited, a:active {
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: $color_light;
}

#logo {
	font-weight: 600;
	font-size: 36px;

	span {
		color: $color_light;
		font-size: 16px;
	}
}

#menu li {

	a {
		font-weight: 400;
		font-size: 18px;
	}

	&.active {
		a {
			color: $color_emphasis;
		}
	}
}
