$kk_button_border_color: #EEE;
$kk_button_background_color: #007293;
$kk_button_font_color: #FFF;

$kk_button_padding_vertical: 8px;
$kk_button_padding_horizontal: 2px;

@mixin kk-transition($prop, $duration, $ease: ease-out){
	-webkit-transition: $prop $duration $ease;
	transition: $prop $duration $ease;
}

@mixin kk-button-base {
	display: inline-block;
	background-color: $kk_button_background_color;
	color: $kk_button_font_color;
	@include text-shadow(1px 1px 0 darken($kk_button_background_color, 10%));
	padding: $kk_button_padding_horizontal $kk_button_padding_vertical;
	cursor: pointer;

	&:hover {
		background-color: darken($kk_button_background_color, 10%);
		@include text-shadow(1px 1px 0 darken($kk_button_background_color, 20%));
	}

	@include kk-transition(background-color, 0.25s);
}

@mixin kk-button-icon($padding_left: 32px) {
	@include kk-button-base;
	padding-left: $padding_left + $kk_button_padding_horizontal;
	background: {
		position: $kk_button_padding_horizontal center;
		repeat: no-repeat;
	}
}

@mixin kk-button-cta {
	@include kk-button-base;
	font-size: 150%;
}

@mixin kk-button-cta-icon($padding_left: 32px) {
	@include kk-button-icon($padding_left);
	font-size: 150%;
}